.alert-danger{
  color: #C70000!important;
  background-color: #f9e5e5!important;
  border-color: #f9e5e5!important;
  font-size: 16px!important;
  font-style: italic!important;
}
.alert-container{
  top: 15px;
  right: 15px;
  z-index: 999;
}
.alert-success{
  color: #22b968!important;
  font-size: 16px!important;
  font-style: italic!important;
}

.project-bg{
  background-color: #f8dd30;
  height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.error-message{
  height: 5px;
  color: #C70000;
  font-size: 14px;
}